body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
}

.gap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

li{
    list-style-type: none;
}